# Configuración de Base de Datos PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=cambiame_por_un_password_seguro
POSTGRES_DB=alentapp_db

# Cadena de conexión para Prisma ORM
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?schema=public
